{
  "app": {
    "guid": "f6ed3aff-6254-404b-856e-19771702eb63",
    "version": "1.0-SNAPSHOT",
    "groupId": "io.cronapp.apps.cronapp3740",
    "artifactId": "io.cronapp.apps.cronapp3740"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators;",
    "entitiesSecurity": "Authenticated;",
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "ZjZlZDNhZmYtNjI1NC00MDRiLTg1NmUtMTk3NzE3MDJlYjYz",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Nenhuma",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "appid": "io.cronapp.apps.cronapp3740",
      "backend": "true",
      "theme": "Material",
      "authentication": "Nenhuma",
      "frontend": "true"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0,
  "flushMode": "AUTO",
  "xframeOptions": "SameOrigin"
}